.time-picker-container {
    min-width: 220px;
    padding: 15px;

    background: rgb(255, 255, 255);
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

    .counter {
        display: flex;
        justify-content: space-around;
        color: black;
        font-family: 'Courier New', Courier, monospace;

        .counter__item {
            color: black;
        }
    }    

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            border: none;    
        }           
    }
}


